android/gradle-8.5-bin.zip
android/gradle-8.5/
android/.gradle/
android/app/build/
android/local.properties
scripts/test*.py
android/gradle-7.5-bin.zip
android/gradle-6.9-bin.zip
backend/habr_archive.db
